/*
 * File Name: base.scss
 * Author: cissoid
 * Created At: 2017-04-19T16:19:49+0800
 * Last Modified: 2017-08-07T17:12:27+0800
 */

// styles. {{{
$body-max-width: 768px;
$body-padding: 24px;

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 110%;
}

p, ol, ul, div {
  cursor: default;
  line-height: 180%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

// }}}

// fonts. {{{
$chinese-fonts: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", "STXihei", "Noto Sans CJK SC", "Source Han Sans CN";
$sans-fonts: "Source Sans Pro", "Segoe UI", Helvetica Neue, Arial, Tahoma, Verdana, $chinese-fonts, sans-serif;
$serif-fonts: Georgia, "Source Serif Pro", $chinese-fonts, serif;
$monospace-fonts: Consolas, "Source Code Pro", "Lucida Console", Monaco, "DejaVu Sans Mono", $chinese-fonts, monospace;

* {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

body {
  font-family: $sans-fonts;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $serif-fonts;
  font-weight: normal;
}

pre, code, kbd {
  font-family: $monospace-fonts;
}

h1 {
  font-size: 1.2em * 1.2 * 1.2 * 1.2;
}

h2 {
  font-size: 1.2em * 1.2 * 1.2;
}

h3 {
  font-size: 1.2em * 1.2;
}

h4 {
  font-size: 1.2em;
}

// }}}

// colors. {{{
$title-color: #222222;
$content-color: #444444;
$description-color: #AAAAAA;
$link-color: #444444;
$link-hover-color: #222222;

h1, h2, h3, h4, h5, h6 {
  color: $title-color;
}

p, li {
  color: $content-color;
}

a {
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}

// }}}

// vim: foldmethod=marker foldlevel=0
