/*
 * File Name: framework.scss
 * Author: cissoid
 * Created At: 2017-04-19T16:16:12+0800
 * Last Modified: 2019-05-21T14:41:26+0800
 */

$framework-html-background-color: #f5f7f9;

$framework-body-max-width: 768px;
$framework-body-padding: 24px;
$framework-body-background-color: #fefefe;
$framework-body-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2),
    0 0 0 1px rgba(0, 0, 0, 0.08);

html {
    background-color: $framework-html-background-color;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translateY(var(--offsetY));
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(var(--offsetY));
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out-home {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translateY(var(--offsetY));
    }
}

@keyframes fade-in-home {
    from {
        opacity: 0;
        transform: translateY(var(--offsetY));
    }

    to {
        opacity: 1;
    }
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: $framework-body-max-width - $framework-body-padding * 2;
    min-height: 100vh;
    padding: 0 $framework-body-padding;

    background-color: $framework-body-background-color;
    box-shadow: $framework-body-box-shadow;

    & > header {
        & > div.container {
            padding: 12px 0;
            align-items: baseline;
            display: flex;
            justify-content: space-between;

            & > h1 {
                font-size: 2.5em;
            }

            & > nav {
                & > ul {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }

        & > hr {
            background-color: #cccccc;
            border: none;
            color: #cccccc;
            height: 1px;
            margin: 0 ($framework-body-padding / 2 * -1);
        }

        &.pjax-remove {
            --offsetY: -12px;
            animation-name: fade-out;
            animation-duration: 0.25s;
        }

        &.pjax-add {
            --offsetY: -12px;
            animation-name: fade-in;
            animation-duration: 0.25s;
        }

        &.home {
            align-items: center;
            display: flex;
            justify-content: center;
            min-height: 100vh;

            & > div.container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                & > h1 {
                    font-size: 4em;
                    margin: 24px 0;
                }

                & > nav {
                    & > ul {
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        & > li {
                            margin: 12px 0;
                        }
                    }
                }
            }

            &.pjax-remove {
                --offsetY: -24px;
                animation-name: fade-out-home;
                animation-duration: 0.25s;
            }

            &.pjax-add {
                --offsetY: -24px;
                animation-name: fade-in-home;
                animation-duration: 0.25s;
            }
        }
    }

    & > main {
        flex-grow: 1;
        padding: 24px 0;

        &.pjax-remove {
            --offsetY: 12px;
            animation-name: fade-out;
            animation-duration: 0.25s;
        }

        &.pjax-add {
            --offsetY: 12px;
            animation-name: fade-in;
            animation-duration: 0.25s;
        }
    }

    & > footer {
        & > hr {
            background-color: #cccccc;
            border: none;
            color: #cccccc;
            height: 1px;
            margin: 0 ($framework-body-padding / 2 * -1);
        }

        & > div.container {
            display: flex;
            justify-content: space-between;
            padding: 12px 0;
            @media all and (max-width: $framework-body-max-width - 1px) {
                align-items: flex-end;
                flex-direction: column;
                text-align: right;
            }
        }

        &.pjax-remove {
            --offsetY: 12px;
            animation-name: fade-out;
            animation-duration: 0.25s;
        }

        &.pjax-add {
            --offsetY: 12px;
            animation-name: fade-in;
            animation-duration: 0.25s;
        }
    }

    & > div#mask {
        bottom: 0;
        display: none;
        left: 0;
        margin: auto;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1;

        & > div#loading {
            bottom: 0;
            display: block;
            height: 48px;
            left: 0;
            margin: auto;
            position: fixed;
            right: 0;
            top: 0;
            width: 48px;

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }

            & > div {
                display: block;
                width: 42px;
                height: 42px;
                border-radius: 50%;
                border: 3px solid transparent;
                border-top-color: #444444;
                animation: spin 2s linear infinite;

                &:before {
                    content: "";
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    right: 3px;
                    bottom: 3px;
                    border-radius: 50%;
                    border: 3px solid transparent;
                    border-top-color: #888888;
                    animation: spin 3s linear infinite;
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 9px;
                    left: 9px;
                    right: 9px;
                    bottom: 9px;
                    border-radius: 50%;
                    border: 3px solid transparent;
                    border-top-color: #cccccc;
                    animation: spin 1.5s linear infinite;
                }
            }
        }
    }
}

.paginator {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 12px 0;

    & > li {
        padding: 0 6px;
    }
}
