$serif-font: source-serif-pro, Georgia, PingFangSC, "Microsoft YaHei", STXihei, serif;
$sans-serif-font: source-sans-pro, Tahoma, Verdana, Arial, Helvetica, PingFangSC, "Microsoft YaHei", STXihei, sans-serif;
$monospace-font: source-code-pro, Consolas, "Lucida Console", Monaco, "DejaVu Sans Mono", PingFangSC, "Microsoft YaHei", STXihei, monospace;

$background-color: rgb(245, 247, 249);

$container-background-color: rgba(255, 255, 255, 0.9);
$container-shadow-color: rgba(0, 0, 0, 0.2);


$link-hover-color: #DC3522;
$link-normal-color: #374140;
$link-underline-color: #DC3522;
// $link-visited-color: #AAAAAA;
$link-visited-color: $link-normal-color;

$mobile-max-width: 767px;

// container 的左右留白.
$container-padding-size: 24px;

html, body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

html {
    background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $serif-font;
    font-weight: normal;
}

p {
    font-family: $sans-serif-font;
}

code, pre {
    font-family: $monospace-font;
}

a {
    color: $link-normal-color;
    display: inline-block;
    padding-bottom: 2px;
    text-decoration: none;
    transition: all 0.4s ease;

    &:hover, &:visited:hover {
        color: $link-hover-color;
    }

    &:visited {
        color: $link-visited-color;
    }

    &:after {
        background: $link-normal-color;
        bottom: 12px;
        content: "";
        display: block;
        height: 2px;
        left: 0;
        transition: all 0.4s ease;
        width: 0;
    }

    &:hover:after, &:visited:hover:after {
        background: $link-underline-color;
        display: block;
        width: 100%;
    }

    &:visited:after {
        background: $link-visited-color;
    }
}

hr {
    margin: 12px $container-padding-size / 2 * -1;
}

.container {
    // box-shadow: -16px 0 12px -12px rgba(0, 0, 0, 0.2), 16px 0 12px -12px rgba(0, 0, 0, 0.2);
    background-color: $container-background-color;
    box-shadow: 0px 0 16px 0 $container-shadow-color;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 960px;
    padding: 0 $container-padding-size;
}
