/*
 * File Name: post-summary.scss
 * Author: cissoid
 * Created At: 2017-04-20T15:46:38+0800
 * Last Modified: 2019-01-09T17:55:39+0800
 */

@import "base";
@import "post";
@import "variables";

ul.post-summary-list {
    & > li {
        align-items: baseline;
        background-color: white;
        display: flex;
        padding: 12px 0 12px 0;

        &.post {
            padding-left: 2em;
        }
    }
}

article.post-summary {
    display: flex;

    & > header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        text-align: center;
        width: 100%;
    }
}
