@import "global";

$code-background-color: #1E1E20;
$code-foreground-color: #F8F8F2;
$code-snippet-background-color: rgba(0, 0, 0, 0.1);
$code-snippet-foreground-color: #DC3522;

$post-description-color: #AAAAAA;

article.post {
    header {
        margin: 48px 0;

        h1 {
            font-size: 2.5em;
            margin-bottom: 24px;
            text-align: center;
        }

        .description {
            color: $post-description-color;
            display: flex;
            justify-content: center;
        }
    }

    section.post {
        margin: 48px 0;

        h1, h2, h3, h4, h5, h6 {
            font-weight: bold;
            margin: 0.5em 0;
        }

        h1 {
            font-size: 2.0em;
        }

        h2 {
            font-size: 1.8em;
        }

        h3 {
            font-size: 1.6em;
        }

        h4 {
            font-size: 1.4em;
        }

        h5 {
            font-size: 1.2em;
        }

        h6 {
            font-size: 1.0em;
        }

        code {
            background: $code-snippet-background-color;
            border-radius: 4px;
            color: $code-snippet-foreground-color;
            padding: 4px 8px;
        }

        .highlight {
            background: $code-background-color !important;
            color: $code-foreground-color;
            margin: 0.5em ($container-padding-size * -1);
            overflow-x: auto;
            padding: 0 $container-padding-size;

            pre {
                display: inline-block;
                margin: 1em auto;
            }
        }
    }
}
