@import "global";
@import "post";

$summary-delimiter-color: rgba(0, 0, 0, 0.1);

ul.post-summary-list {
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;
        margin: 24px auto;

        hr {
            background-color: $summary-delimiter-color;
            border: none;
            border-color: $summary-delimiter-color;
            height: 1px;
            margin: 0;
        }
    }
}

article.post-summary {
    header {
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;

        h2 {
            font-size: 2em;
        }

        .description {
            color: $post-description-color;
            font-size: 0.9em;
        }

        @media all and (max-width: $mobile-max-width) {
            flex-direction: column;

            time {
                align-self: flex-end;
            }
        }
    }

    footer {
        margin-top: 12px;
    }
}

ul.paginator {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;
        margin: auto 6px;
    }
}
