{{ define "title" }}{{ .Title }} | {{ .Site.Title }}{{ end }}

{{ define "main" }}
<main>
    <article class="post">
        <header>
            <h1>{{ .Title }}</h1>
            <ul class="description">
                    <li><time>{{ .Date.Format (index .Site.Params "dateformat" | default "2006-01-02") }}</time></li>
    {{ if (index .Params "tags") }}
        {{ if ge (len .Params.tags) 0 }}
                    <li>&nbsp;|&nbsp;</li>
                    <li>{{ delimit .Params.tags ", " }}</li>
        {{ end }}
    {{ end }}
            </ul>
        </header>
    {{ if .Params.minimalism.cloudmusic }}
        <section class="cloudmusic">
            <iframe src="//music.163.com/outchain/player?type=2&auto=0&height=66&id={{ .Params.minimalism.cloudmusic }}"></iframe>
        </section>
    {{ end }}
    {{ if .Params.minimalism.license }}
        {{ $articleLicense := .Params.minimalism.license }}
        <section class="license">
        {{ range $_, $license := .Site.Data.minimalism.licenses.cc }}
            {{ if eq $license.id $articleLicense }}
            <p>
                <a rel="license" href="http://creativecommons.org/licenses/{{ $license.id }}/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/{{ $license.id }}/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/{{ $license.id }}/">{{ $license.name }}</a>.
            </p>
            {{ end }}
        {{ end }}
        </section>
    {{ end }}
        <section class="post">
    {{ .Content }}
        </section>
    {{ if ne .Site.DisqusShortname "" }}
        <hr>
        <section class="comments">
        {{ template "_internal/disqus.html" . }}
        </section>
    {{ end }}
    </article>
</main>
{{ end }}
