{{ define "title" }}{{ .Title }} | {{ .Site.Title }}{{ end }}

{{ define "main" }}
<main>
    <article class="post">
        <header>
            <h1>{{ .Title }}</h1>
            <ul class="description">
                    <li><time>{{ .Date.Format (index .Site.Params "dateformat" | default "2006-01-02") }}</time></li>
    {{ with .Params.tags }}
                    <li>&nbsp;|</li>
        {{ range . }}
                    <li>&nbsp;#{{ . }}</li>
        {{ end }}
    {{ end }}
            </ul>
        </header>
    {{ with .Params.minimalism.cloudmusic }}
        <section class="cloudmusic">
            <iframe src="//music.163.com/outchain/player?type=2&auto=0&height=66&id={{ . }}"></iframe>
        </section>
    {{ end }}
    {{ with (index .Site.Data.minimalism.licenses .Params.minimalism.license) }}
        <section class="license">
            <p>
                <a rel="license" href="http://creativecommons.org/licenses/{{ .id }}/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/{{ .id }}/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/{{ .id }}/">{{ .name }}</a>.
            </p>
        </section>
    {{ end }}
        <section class="post">
    {{ .Content }}
        </section>
    {{ if ne .Site.DisqusShortname "" }}
        <hr>
        <section class="comments">
        {{ template "_internal/disqus.html" . }}
        </section>
    {{ end }}
    </article>
</main>
{{ end }}
