{{ define "title" }}{{ .Title }} | {{ .Site.Title }}{{ end }}

{{ define "main" }}
<main>
    <article class="post">
        <header>
            <h1>{{ .Title }}</h1>
            <div class="description">
                <time>{{ .Date.Format (index .Site.Params "dateformat" | default "2006-01-02") }}</time>
            </div>
        </header>
        <section class="post">
    {{ .Content }}
        </section>
    {{ if ne .Site.DisqusShortname "" }}
        <hr>
        <section class="comments">
        {{ template "_internal/disqus.html" . }}
        </section>
    {{ end }}
    </article>
</main>
{{ end }}
