{{ define "main" }}
<main>
    <ul class="post-summary-list">
    {{ $currentYear := "" }}
    {{ range $idx, $page := where .Site.RegularPages "Type" "post" }}
        {{ $pageYear := $page.Date.Format "2006" }}
        {{ if ne $currentYear $pageYear }}
            {{ $currentYear = $pageYear }}
        <li class="date">
            <h2>{{ $currentYear }}</h2>
        </li>
        {{ end }}
        <li class="post">
        {{ $page.Render "summary" }}
        </li>
    {{ end }}
    </ul>
</main>
{{ end }}
